
body {
    background-color: black;
    background-image: url('../images/contour.svg');
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;

}

h1 {
    color: #d6dfcc;
    font-family: shrikhand;
    
}

h2 {
    color: #D6DFCC;
    font-family: quicksand;
}

h3 {
    color: #D6DFCC;
    font-family: quicksand;
    font-size: 15px;
}

p {
    color: #fff;
    font-family: quicksand;
}

.insta-holder {
    size: 50px;
}

.leaf-logo {
    width: 3.5vh;
    height: 3.5vh;
    padding: 18px 5px 0px 5px;

}
.nav-text {
    color: #D6DFCC;
    font-family: quicksand;
}